# Next.js
.next/
node_modules/
out/
build/

# production
/dist

# misc
.DS_Store
*.pem

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# open-next
.open-next/

# backups
*.bak

# Large files
node-v20.18.0-win-x64/
*.exe

# Wrangler state
.wrangler/state/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
